@font-face {
  font-family: 'ModernKing'; /* Ganti NamaFont sesuai keinginan Anda */
  src: url('../public/font/Modern\ King.ttf') format('truetype'); /* Ganti path/to/font.ttf sesuai dengan lokasi font di proyek Anda */
  font-weight: normal;
  font-style: normal;
}

.logo {
  font-family: 'ModernKing', sans-serif;
}

body {
  font-family: 'Montserrat', sans-serif;
}